body {
        margin: 0;
        padding: 0;
}
#header {
        position: relative;
        width: 400px;
        height: 80px;
        background-color: #7477bf;
}
#header ul {
        height: auto;
        padding: 0px 0px;
        margin: 0px;
        list-style-type: none;
}
.appname {
        position: absolute;
        top: 90%;
        left: 4%;
        height: 100px;
        margin-top: -50px;
       font-family: 'Open Sans', sans-serif;
        font-size: 20px;
}
#noti_Button {
        position: absolute;
        top: 90%;
        right: 58%;
        height: 100px;
        margin-top: -50px;
        width:25px;
        height:25px;
}
.userpic {
        position: absolute;
        top: 90%;
        right: 48%;
        height: 100px;
        margin-top: -50px;
        border-radius: 50%;
        width:25px;
        height:25px;
}
.username {
        position: absolute;
        top: 90%;
        right:22%;
        height: 100px;
        margin-top: -50px;
        
    }
a:link {
        /* Applies to all unvisited links */
        text-decoration: none;
        color: #fff;
}
a:visited {
        /* Applies to all visited links */
        text-decoration: none;
        color: #fff;
}
a:hover {
        /* Applies to links under the pointer */
        text-decoration: underline;
        color: #fff;
}
a:active {
        /* Applies to activated links */
        text-decoration: underline;
        color: white;
}

#hr {
   
    border-color:#6266bf;
    -webkit-transform:rotate(90deg);
    position: absolute;
    width:50px;
    right:200px;
    top: 35%;
    margin-bottom: -1px;
   

    
}

#navigation {
    position: absolute;
    left:0; top:80px; bottom: 0px;
    width: 55px;
    height: 1000px;
    background-color: #4d4c72;   
}

[class^="icon"] {
  width: 25px;
  height: 40px;
  position: relative;
  top: 10px;
  margin-left: 8px;
  
}

.dash {
   color: gray;
   font-size: 18px;
   position: absolute;
   top: 80px;
   margin-left: 70px; 
}

body{
  background: #0000;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #7477bf;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #7477bf;
  background: #7477bf;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 25%;
  position: absolute;
  top: 19%;
  left: 70%;
  transform: translate(-50%, -50%);
}


 .messagebar-default {
    position: absolute;
    width:70%;
    right: -75px;
    top:45px;
    margin: 100px;
    padding: 0;
    color: #fff;
    font-size: 12px;

        
}


 #myChart {
    position: relative; 
     height:90vh; 
     width:85vw;
    right: -60px;
    top:230px;
    margin: 0px;
    padding: 0; 
     
	}



 #myLineChart {
    position: relative; 
     height:90vh; 
     width:85vw;
    right: -60px;
    top:150px;
    margin: 0px;
    padding: 0; 
     
	}


 #myDoughnutChart{
     position: absolute;  
     top:810px;
       right: 1px;
  
   
     
	}

.twitter {
	width: 40px;
	height: 120px;
     position: absolute;  
     bottom:-714px;
       left: 110px;
       z-index: 1;
       fill:white;
       
  
   
}

.twitterbox {
     position: absolute;  
     bottom:-700px;
       left: 80px;
}

.twittername {
    position: absolute;  
     bottom:-650px;
       left: 210px;
     color: #7477bf;
}

.twitterstats {
    position: absolute;  
     bottom:-680px;
       left: 200px;
        font-size: 20px;
}

.google {
	width: 40px;
	height: 120px;
     position: absolute;  
     bottom:-1080px;
    left: 112px;
    z-index: 1;
    fill:white;
   
}

.facebookname{
     position: absolute;  
     bottom:-850px;
       left: 210px;
     color: #7477bf;
       
}

.facebookstats {
     position: absolute;  
     bottom: -880px;
       left: 210px;
        font-size: 20px;
}


.facebookbox {
     position: absolute;  
     bottom: -900px;
       left: 80px;
  
  
}

.facebook {
    	
		width: 40px;
	height: 120px;
     position: absolute;  
     bottom:-1090px;
    left: 130px;
    bottom:-908px;
    left: 106px;
       z-index: 1;
    fill:white;
    
  
    
}

.googlename {
      position: absolute;  
     bottom:-1020px;
       left: 210px;
     color: #7477bf;
}

.googlestats {
         position: absolute;  
     bottom: -1050px;
       left: 210px;
        font-size: 20px;
}

.googlebox {
      position: absolute;  
     bottom: -1070px;
       left: 80px;
}

.socialstats {
      font-size: 13px;
   position: absolute;
   bottom: -590px;
   margin-left: 70px; 
}

/* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
        background:lightgreen;
        color:#FFF;
        top:25px;
        left:140px;
        padding:3px 3px;
        margin:-6px 0 0 25px;
        border-radius:50%;
        -moz-border-radius:50%x; 
        -webkit-border-radius:50%;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:200px;
        height: 200px;
        position:absolute;
        top:60px;
        left:134px;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 1;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left:10px;
    }
        
    h3 {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }
        
    .seeAll {
        background: #7477bf ;
        padding:1px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
        position: relative;
        top: -250px;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }

h1 {
    
    font-size:12px;
}

.traffic {
     font-size: 13px;
   position: absolute;
   top: 190px;
   margin-left: 70px; 
}

.daily {
     font-size: 13px;
   position: absolute;
   top: 470px;
   margin-left: 70px; 
}

.mobile {
    font-size: 13px;
   position: absolute;
   top: 750px;
   margin-left: 70px; 
}

.social {
    font-size: 13px;
   position: absolute;
   bottom: -600px;
   margin-left: 70px;  
}

.circle1 {
    position: absolute;
    bottom: -700px;
    left: 78px;
 
      }

.circle2 {
    position: absolute;
    bottom: -900px;
    left: 78px;
 
      
    
}


.circle3 {
    position: absolute;
    bottom: -1070px;
    left: 78px;
 
      
    
}