body {
        margin: 0;
        padding: 0;
}
#header {
        position: relative;
        width: 400px;
        height: 80px;
        background-color: #7477bf;
}
#header ul {
        height: auto;
        padding: 0px 0px;
        margin: 0px;
        list-style-type: none;
}
.appname {
        position: absolute;
        top: 90%;
        left: 4%;
        height: 100px;
        margin-top: -50px;
       font-family: 'Open Sans', sans-serif;
        font-size: 23px;
}
.bell {
        position: absolute;
        top: 90%;
        right: 40%;
        height: 100px;
        margin-top: -50px;
        width:25px;
        height:25px;
}
.userpic {
        position: absolute;
        top: 90%;
        right: 28%;
        height: 100px;
        margin-top: -50px;
        border-radius: 50%;
        width:25px;
        height:25px;
}
.username {
        position: absolute;
        top: 90%;
        right: 3%;
        height: 100px;
        margin-top: -50px;
        
    }
a:link {
        /* Applies to all unvisited links */
        text-decoration: none;
        color: #fff;
}
a:visited {
        /* Applies to all visited links */
        text-decoration: none;
        color: #fff;
}
a:hover {
        /* Applies to links under the pointer */
        text-decoration: underline;
        color: #fff;
}
a:active {
        /* Applies to activated links */
        text-decoration: underline;
        color: white;
}

#hr {
   
    border-color:#6266bf;
    -webkit-transform:rotate(90deg);
    position: absolute;
    width:50px;
    right:125px;
    top: 35%;
    margin-bottom: -1px;
   

    
}

#navigation {
    position: absolute;
    left:0; top:80px; bottom: 0;
    width: 55px;
    background-color: #4d4c72;   
}

[class^="icon"] {
  width: 35px;
  height: 50px;
  position: relative;
  top: 10px;
  margin-left: 8px;
  
}

.dash {
   color: gray;
   font-size: 18px;
   position: absolute;
   top: 80px;
   margin-left: 70px; 
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #7477bf;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #7477bf;
  background: #7477bf;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 18%;
  right: 2%;
  transform: translate(-50%, -50%);
}




